{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="deposit-skins">
    <div class="container">
        <div class="deposit-skins-page flex flex-column">
            <!-- <section class="skins-filter"></section> -->
            
            {% if inventory is None %}
                <h2>No inventory found!</h2>
                <p>You have to set your inventory to public <a target="_blank" rel="noopener noreferrer" class="links" href="https://steamcommunity.com/profiles/{{request.user.social_auth.get.extra_data.player.steamid}}/edit/settings/">here</a> before you are able to continue.</p>
            {% else %}
            <div class="bet-toggle" id="betToggle"><button id="toggleBet"><img src="{% static 'images/AddPackage.png' %}" alt="Bet Area"></button></div>

            <section class="skins-list">
                <form action="" method="POST" class="deposit-form flex" id="depositForm">
                {% csrf_token %}
                    {% for item in inventory %}
                        <!-- <span>{{item}}</span> -->
                        {% if item.1.3 is 1 %}
                            <div class="listable-skin">
                                <input type="radio" name="item_name" id="{{forloop.counter}}" value="{{item.0}}" required class="skin-radio-button">
                                <label class="select-skin flex flex-column align-center" for="{{forloop.counter}}">
                                    <div class="skin-top flex flex-column">
                                        <span class='f-xs skin-condition'> {{item.1.6}} </span>
                                        <div class="skin-image-container flex justify-center align-center">
                                            <img src="https://community.cloudflare.steamstatic.com/economy/image/{{item.1.2}}" alt="Item" class="skin-image">
                                        </div>
                                    </div>
                                    <div class="skin-bot flex flex-column">
                                        <span class='f-ss skin-name'>{{item.1.0}}</span>
                                        <span class='f-ss skinline-name'> {{item.1.5}} </span>
                                    </div>
                                </label>

                            </div>

                        {% endif %}


                            {% comment %} <div class="listable-skin">
                                <input type="radio" name="item_name" id="2" value="{{item.0}}" required class="skin-radio-button">
                                <label class="select-skin flex flex-column align-center" for="2">
                                    <div class="skin-top flex flex-column">
                                        <span class='f-xs skin-condition'> {{item.1.6}} </span>
                                        <div class="skin-image-container flex justify-center align-center">
                                            <img src="https://community.cloudflare.steamstatic.com/economy/image/{{item.1.2}}" alt="Item" class="skin-image">
                                        </div>
                                    </div>
                                    <div class="skin-bot flex flex-column">
                                        <span class='f-ss skin-name'>{{item.1.0}}</span>
                                        <span class='f-ss skinline-name'> {{item.1.5}} </span>
                                    </div>
                                </label>

                            </div>

                            <div class="listable-skin">
                                <input type="radio" name="item_name" id="3" value="{{item.0}}" required class="skin-radio-button">
                                <label class="select-skin flex flex-column align-center" for="3">
                                    <div class="skin-top flex flex-column">
                                        <span class='f-xs skin-condition'> {{item.1.6}} </span>
                                        <div class="skin-image-container flex justify-center align-center">
                                            <img src="https://community.cloudflare.steamstatic.com/economy/image/{{item.1.2}}" alt="Item" class="skin-image">
                                        </div>
                                    </div>
                                    <div class="skin-bot flex flex-column">
                                        <span class='f-ss skin-name'>{{item.1.0}}</span>
                                        <span class='f-ss skinline-name'> {{item.1.5}} </span>
                                    </div>
                                </label>

                            </div>

                            <div class="listable-skin">
                                <input type="radio" name="item_name" id="4" value="{{item.0}}" required class="skin-radio-button">
                                <label class="select-skin flex flex-column align-center" for="4">
                                    <div class="skin-top flex flex-column">
                                        <span class='f-xs skin-condition'> {{item.1.6}} </span>
                                        <div class="skin-image-container flex justify-center align-center">
                                            <img src="https://community.cloudflare.steamstatic.com/economy/image/{{item.1.2}}" alt="Item" class="skin-image">
                                        </div>
                                    </div>
                                    <div class="skin-bot flex flex-column">
                                        <span class='f-ss skin-name'>{{item.1.0}}</span>
                                        <span class='f-ss skinline-name'> {{item.1.5}} </span>
                                    </div>
                                </label>

                            </div>

                            <div class="listable-skin">
                                <input type="radio" name="item_name" id="5" value="{{item.0}}" required class="skin-radio-button">
                                <label class="select-skin flex flex-column align-center" for="5">
                                    <div class="skin-top flex flex-column">
                                        <span class='f-xs skin-condition'> {{item.1.6}} </span>
                                        <div class="skin-image-container flex justify-center align-center">
                                            <img src="https://community.cloudflare.steamstatic.com/economy/image/{{item.1.2}}" alt="Item" class="skin-image">
                                        </div>
                                    </div>
                                    <div class="skin-bot flex flex-column">
                                        <span class='f-ss skin-name'>{{item.1.0}}</span>
                                        <span class='f-ss skinline-name'> {{item.1.5}} </span>
                                    </div>
                                </label>

                            </div>

                            <div class="listable-skin">
                                <input type="radio" name="item_name" id="6" value="{{item.0}}" required class="skin-radio-button">
                                <label class="select-skin flex flex-column align-center" for="6">
                                    <div class="skin-top flex flex-column">
                                        <span class='f-xs skin-condition'> {{item.1.6}} </span>
                                        <div class="skin-image-container flex justify-center align-center">
                                            <img src="https://community.cloudflare.steamstatic.com/economy/image/{{item.1.2}}" alt="Item" class="skin-image">
                                        </div>
                                    </div>
                                    <div class="skin-bot flex flex-column">
                                        <span class='f-ss skin-name'>{{item.1.0}}</span>
                                        <span class='f-ss skinline-name'> {{item.1.5}} </span>
                                    </div>
                                </label>

                            </div> {% endcomment %}
                            <!-- <input type="hidden" name="item_name" value="{{item.2}}"> -->                        
                    {% endfor %}
                </form>
            </section>
        </div>
    </div>
</div>

<div class="bet-sidebar flex flex-column sidebar-deposit" id="betBar">
    <div class="bet-sidebar-container flex flex-column {{trade_off}}">
        <section class="sidebar-section deposit-items flex flex-column">
            <span class="sidebar-title f-ss s-item">Selected Items</span>

            <div class="deposit-item-container" id="depositContainer"></div>
            
        </section>
    </div>

    <section class="sidebar-confirm-bet sidebar-section {{trade_off}}">
        <div class="deposit-receive flex justify-between">
            <div class="deposit-receive-text f-xs flex"><span>You will receive</span></div>
            <div class="deposit-receive-value flex"><span class="f-xs" id="despositValue">0.00</span><img class="coin" src="{% static 'images/coin.svg' %}" alt="Coins"></div>
        </div>
        <input type="submit" value="Deposit" class="sidebar-place-bet f-m" form="depositForm">
    </section>


    <div class="bet-sidebar-container flex flex-column {{trade_on}}">
        <section class="sidebar-section withdraw-items flex flex-column">
            <span class="sidebar-title f-ss s-item">Pending Trade</span>

            <div class="trade-item-container" id="pendingTradeContainer">
                <div class="trade-item flex-column" id="withdrawItem">

                    <div class="trade-item-top flex">
                        <section class="trade-item-image flex">
                            <img src="https://community.cloudflare.steamstatic.com/economy/image/{{trade_item.icon_url}}" alt="Item">
                        </section>
                        <section class="trade-item-info flex flex-column">
                            <span class="skin-name f-ss">{{trade_item.item_name}}</span>
                            <span class="f-ss skinline-name">{{trade_item.item_skinline_name}}</span>
                            <span class="f-xs skin-condition">{{trade_item.item_wear}}</span>
                            <div class="trade-receive-value flex"><span class="f-xs" id="withdrawValue">{{trade_item.offer_price}}</span><img class="coin" src="{% static 'images/coin.svg' %}" alt="Coins"></div>
                        </section>
                    </div>
                    <div class="trade-item-bottom flex-column">
                        <p class="f-xs">Buyer: <a href="https://steamcommunity.com/profiles/{{trade_item.buyer_id.steam_id}}/" target="_blank" rel="noopener noreferrer">{{trade_item.buyer_id.username}}</a><br>SteamID: {{trade_item.buyer_id.steam_id}}</p>
                        <p class="f-xs">Buyer will send you the trade offer. You have {{time_diff}} minutes to complete the trade.</p>
                        <p class="f-xs"><span class='important'>NB!</span> Be sure the trade offer is send for this <a href="https://steamcommunity.com/profiles/{{trade_item.seller_id.steam_id}}/inventory/#730_2_{{trade_item.asset_id}}" target="_blank" rel="noopener noreferrer">item</a> with an assetID: <span class="yellow">{{trade_item.asset_id}}</span></p>
                        <a class="flex align-center justify-center" href="https://steamcommunity.com/profiles/{{trade_item.seller_id.steam_id}}/tradeoffers/" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/steam.png' %}" alt="S"><span class="f-m">See trade offers</span></a>
                    </div>

                    
                </div>
            </div>
            
        </section>
    </div>
    
</div>

{% endif %}






    {% comment %} <div>
        <h1>Bot Inventory</h1>

        {% if steam_name %}
            <a href="https://steamcommunity.com/id/{{steam_name}}/tradeoffers/" target="_blank">Trade Link</a>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            <div class="inventory" style="display: flex; flex-wrap: wrap;">
            {% for item in inventory %}
                <!-- <span>{{item}}</span> -->
                {% if item.1.3 == 1 %}
                    <!-- <input type="hidden" name="item_name" value="{{item.2}}"> -->
                    <input type="radio" name="item_name" id="{{forloop.counter}}" value="{{item.0}}" required>
                    <label class="selectable" for="{{forloop.counter}}">
                        
                        <img src="https://community.cloudflare.steamstatic.com/economy/image/{{item.1.2}}" alt="Item" style="height: 100px;">
                        <span>{{item.1.0}}</span>
                    </label>
                {% endif %}
            {% endfor %}
            </div>

            <label for="item-price">Sell price:</label>
            <input type="number" name="item_price" required id="item-price">

            <label for="trade-url">Trade url:</label>
            <input type="text" name="trade_url" required id="trade-url">

            <label for="api-key">API key (optional):</label>
            <input type="text" name="api_key" id="api-key">

            <input type="submit" value="Submit">
        </form>
    </div> {% endcomment %}


<script>

if (document.querySelector('input[name="item_name"]')) {
    document.querySelectorAll('input[name="item_name"]').forEach((elem) => {
        elem.addEventListener("click", function(event) {
            var item = event.target.value;
            var n = event.target.nextElementSibling;
            console.log(item);

            skinCondition = n.querySelector('.skin-condition').innerHTML
            skinImage = n.querySelector('.skin-image').src
            skinName = n.querySelector('.skin-name').innerHTML
            skinlineName = n.querySelector('.skinline-name').innerHTML
    
            document.getElementById('depositContainer').innerHTML = '<div class="deposit-item flex" id="depositItem"><section class="deposit-item-image flex"><img src="'+ skinImage +'" alt="Item"></section><section class="deposit-item-info flex flex-column"><span class="skin-name f-ss">'+ skinName +'</span><span class="f-ss skinline-name">'+ skinlineName +'</span><span class="f-xs skin-condition">'+ skinCondition +'</span><div class="deposit-item-input-value bet-field"><input type="number" name="deposit-item-value" id="depositItemValue" form="depositForm" placeholder="0.00" class="input bet-input f-m" onchange="depositTotal(this.value)"><img src="{% static "images/coin.svg" %}" alt="Coin" class="input-coin"></div><button class="delete-item" onclick="removeItem()"><img src="{% static "images/delete-no-bg.png" %}" alt="Delete"></button></section></div>'
        });
    });
}

function removeItem() {
    document.getElementById('depositContainer').innerHTML = ''
}

function depositTotal(value) {
    document.getElementById('despositValue').innerHTML = value
}

</script>


{% endblock content %}