{% extends 'main.html' %}
{% comment %} N2itab kuhu faili lisada siin kirjutatud kood {% endcomment %}

{% comment %} Toob sisse cssi, fonti, pildid, js {% endcomment %}
{% load static %}

{% comment %} block content ja endblock content vahele kirjutatud kood l2heb main.html lehele kus samad block content ja endblock tagid. main.html leiad templates folderist, mis on main appist v2ljas (staticu all) {% endcomment %}
{% block content %}


<section class="privacy-policy container">
    <div class="privacy-policy-content">

        <h1>Privacy Policy</h1>
        <p class="f-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc libero, molestie id mollis et, porttitor eu ipsum. 
            Vivamus tempor vehicula ante, vitae posuere lectus scelerisque et. Nam pretium nulla lectus, nec condimentum est molestie non. 
            Mauris sit amet pharetra erat. Quisque eu rhoncus quam. In consectetur erat at finibus sodales. Praesent eleifend dignissim sagittis. 
            Vestibulum ac tellus eu justo euismod sagittis. Integer lacinia purus nunc, sed elementum nisl pretium suscipit. Nulla vulputate diam mollis, 
            varius est sed, posuere metus.
            Donec condimentum posuere felis, at maximus erat gravida sit amet. Nullam ac rhoncus mi. Morbi sed aliquet augue. Suspendisse tincidunt dolor 
            a nisi viverra ullamcorper. Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi quis nulla elit. Fusce tempor 
            tempor magna, vulputate sollicitudin arcu semper non. Proin nisi dolor, tempor id ante vitae, ullamcorper mollis felis. Duis nec dui a urna accumsan pharetra. 
            Nunc dignissim massa sed erat pulvinar, a auctor nunc dapibus. Etiam sodales sapien neque, eu malesuada massa fermentum vel. Cras cursus viverra nibh ac bibendum.  
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc libero, molestie id mollis et, porttitor eu ipsum. <br><br>
            Vivamus tempor vehicula ante, vitae posuere lectus scelerisque et. Nam pretium nulla lectus, nec condimentum est molestie non. 
            Mauris sit amet pharetra erat. Quisque eu rhoncus quam. In consectetur erat at finibus sodales. Praesent eleifend dignissim sagittis. 
            Vestibulum ac tellus eu justo euismod sagittis. Integer lacinia purus nunc, sed elementum nisl pretium suscipit. Nulla vulputate diam mollis, 
            varius est sed, posuere metus.
            Donec condimentum posuere felis, at maximus erat gravida sit amet. Nullam ac rhoncus mi. Morbi sed aliquet augue. Suspendisse tincidunt dolor 
            a nisi viverra ullamcorper. Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi quis nulla elit. Fusce tempor 
            tempor magna, vulputate sollicitudin arcu semper non. Proin nisi dolor, tempor id ante vitae, ullamcorper mollis felis. Duis nec dui a urna accumsan pharetra. 
            Nunc dignissim massa sed erat pulvinar, a auctor nunc dapibus. Etiam sodales sapien neque, eu malesuada massa fermentum vel. Cras cursus viverra nibh ac bibendum.   
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc libero, molestie id mollis et, porttitor eu ipsum. 
            Vivamus tempor vehicula ante, vitae posuere lectus scelerisque et. Nam pretium nulla lectus, nec condimentum est molestie non. 
            Mauris sit amet pharetra erat. Quisque eu rhoncus quam. In consectetur erat at finibus sodales. Praesent eleifend dignissim sagittis. 
            Vestibulum ac tellus eu justo euismod sagittis. Integer lacinia purus nunc, sed elementum nisl pretium suscipit. Nulla vulputate diam mollis, 
            varius est sed, posuere metus.
            Donec condimentum posuere felis, at maximus erat gravida sit amet. Nullam ac rhoncus mi. Morbi sed aliquet augue. Suspendisse tincidunt dolor 
            a nisi viverra ullamcorper. Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi quis nulla elit. Fusce tempor 
            tempor magna, vulputate sollicitudin arcu semper non. Proin nisi dolor, tempor id ante vitae, ullamcorper mollis felis. Duis nec dui a urna accumsan pharetra. 
            Nunc dignissim massa sed erat pulvinar, a auctor nunc dapibus. Etiam sodales sapien neque, eu malesuada massa fermentum vel. Cras cursus viverra nibh ac bibendum. <br><br>
            Vivamus tempor vehicula ante, vitae posuere lectus scelerisque et. Nam pretium nulla lectus, nec condimentum est molestie non. 
            Mauris sit amet pharetra erat. Quisque eu rhoncus quam. In consectetur erat at finibus sodales. Praesent eleifend dignissim sagittis. 
            Vestibulum ac tellus eu justo euismod sagittis. Integer lacinia purus nunc, sed elementum nisl pretium suscipit. Nulla vulputate diam mollis, 
            varius est sed, posuere metus.
            Donec condimentum posuere felis, at maximus erat gravida sit amet. Nullam ac rhoncus mi. Morbi sed aliquet augue. Suspendisse tincidunt dolor 
            a nisi viverra ullamcorper. Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi quis nulla elit. Fusce tempor 
            tempor magna, vulputate sollicitudin arcu semper non. Proin nisi dolor, tempor id ante vitae, ullamcorper mollis felis. Duis nec dui a urna accumsan pharetra. 
            Nunc dignissim massa sed erat pulvinar, a auctor nunc dapibus. Etiam sodales sapien neque, eu malesuada massa fermentum vel. Cras cursus viverra nibh ac bibendum.   
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc libero, molestie id mollis et, porttitor eu ipsum. 
            Vivamus tempor vehicula ante, vitae posuere lectus scelerisque et. Nam pretium nulla lectus, nec condimentum est molestie non. 
            Mauris sit amet pharetra erat. Quisque eu rhoncus quam. In consectetur erat at finibus sodales. Praesent eleifend dignissim sagittis. 
            Vestibulum ac tellus eu justo euismod sagittis. Integer lacinia purus nunc, sed elementum nisl pretium suscipit. Nulla vulputate diam mollis, 
            varius est sed, posuere metus.
            Donec condimentum posuere felis, at maximus erat gravida sit amet. Nullam ac rhoncus mi. Morbi sed aliquet augue. Suspendisse tincidunt dolor 
            a nisi viverra ullamcorper. Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi quis nulla elit. Fusce tempor 
            tempor magna, vulputate sollicitudin arcu semper non. Proin nisi dolor, tempor id ante vitae, ullamcorper mollis felis. Duis nec dui a urna accumsan pharetra. 
            Nunc dignissim massa sed erat pulvinar, a auctor nunc dapibus. Etiam sodales sapien neque, eu malesuada massa fermentum vel. Cras cursus viverra nibh ac bibendum.</p>

    </div>
</section>


<!-- Kui tahad kuskile linkida, siis see k2ib nii: <a href="{% url 'withdraw:withdraw' %}"></a> {#% url 'appiNimi:urlNimi' %#}, need linkid, mis main all, neil pole appi nime vaja ehk siis ainult <a href="{#% url 'urlNimi' %#}"></a> -->

{% endblock content %}